/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  background: url("/town.png") repeat-x; /* Set your background image */
}

#background {
  position: absolute;
  background-size: contain;

  width: 200%; /* Double the container width for smooth scrolling effect */
  height: 100%;
  z-index: 0;
  animation: scrollBackground 10s linear infinite; /* Adjust the duration as needed */
}

.assets {
  color: white;

  position: relative;
  background-size: contain;
  background-repeat: no-repeat;

  /* Style your assets */
}

.asset01 {
  height: 12%;
  width: 8%;
  background-image: url("/boy.png");
  left: 40%;
  top: 77%;
  z-index: 2;

  /* Style your assets */
}

.asset02 {
  height: 12%;
  width: 8%;
  background-image: url("/boy.png");
  left: 40%;
  top: 67%;
  z-index: 2;

  /* Style your assets */
}

.character {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/chibi.png");
  width: 20vw;
  height: 20vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
  z-index: 3;
}
